body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:140px;
}
#u4722 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:218px;
  width:166px;
  height:139px;
}
#u4723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:162px;
  word-wrap:break-word;
}
#u4724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u4724 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:367px;
  width:80px;
  height:28px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u4725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u4726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u4726 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:401px;
  width:32px;
  height:11px;
  font-size:10px;
  color:#CCCCCC;
  text-align:center;
}
#u4727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u4728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:12px;
}
#u4728 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:642px;
  width:180px;
  height:11px;
  font-size:10px;
  color:#CCCCCC;
}
#u4729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u4730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:350px;
}
#u4730 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:500px;
  height:349px;
}
#u4731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
