body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:191px;
}
#u6068 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:500px;
  height:190px;
}
#u6069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u6070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u6070 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2711px;
  width:300px;
  height:16px;
}
#u6071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u6075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u6076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:20px;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:27px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:27px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6083 {
  position:absolute;
  left:229px;
  top:57px;
}
#u6083_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:136px;
  height:162px;
  background-image:none;
}
#u6083_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:162px;
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:161px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
  color:#FFFFFF;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:131px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:65.5px 1.5px;
  -ms-transform-origin:65.5px 1.5px;
  -moz-transform-origin:65.5px 1.5px;
  -webkit-transform-origin:65.5px 1.5px;
}
.u6087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
.u6087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
  color:#FFFFFF;
}
.u6088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u6089 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:20px;
  height:20px;
}
.u6090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6086-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u6086-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:131px;
  height:35px;
}
#u6086-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:131px;
  height:35px;
}
#u6086-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:131px;
  height:35px;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6091 {
  position:absolute;
  left:0px;
  top:314px;
}
#u6091_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:167px;
  background-image:none;
}
#u6091_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:167px;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:166px;
}
#u6093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6094 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:0px;
  width:30px;
  height:30px;
  text-align:center;
}
#u6095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:27px;
  width:80px;
  height:80px;
}
#u6098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u6099 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:117px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u6102 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:27px;
  width:80px;
  height:80px;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u6104 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:117px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
