body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:52px;
}
#u6347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:51px;
}
#u6348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u6350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:598px;
}
#u6351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:375px;
  height:597px;
  color:#CCCCCC;
}
#u6352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u6355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u6355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:375px;
  height:20px;
  font-size:20px;
  color:#CCCCCC;
}
#u6356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u6357 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:128px;
  width:68px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u6359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u6359 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:128px;
  width:68px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u6361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:938px;
}
#u6361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:375px;
  height:937px;
  color:#F2F2F2;
}
#u6362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u6361_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:166px;
  width:1px;
  height:1px;
}
