body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:598px;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:597px;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:50px;
  font-size:20px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:20px;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:28px;
  width:68px;
  height:34px;
  font-size:14px;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:28px;
  width:68px;
  height:34px;
  font-size:14px;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:30px;
  width:75px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5674_img.selected {
}
#u5674.selected {
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:30px;
  width:75px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5676_img.selected {
}
#u5676.selected {
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:232px;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:500px;
  height:231px;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
