body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:593px;
  width:40px;
  height:18px;
}
#u978_img.mouseOver {
}
#u978.mouseOver {
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u980_img.mouseOver {
}
#u980.mouseOver {
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:32px;
  width:40px;
  height:18px;
}
#u982_img.mouseOver {
}
#u982.mouseOver {
}
#u983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:84px;
  width:40px;
  height:18px;
}
#u984_img.mouseOver {
}
#u984.mouseOver {
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:636px;
  width:40px;
  height:18px;
}
#u986_img.mouseOver {
}
#u986.mouseOver {
}
#u987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:20px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:27px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:27px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:45px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:79px;
  width:56px;
  height:25px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:77px;
  width:301px;
  height:31px;
}
#u1004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1004_input {
  font-family:'Arial';
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:81px;
  width:23px;
  height:23px;
  font-size:10px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u1007 {
  position:absolute;
  left:0px;
  top:582px;
}
#u1007_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
  background-image:none;
}
#u1007_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:7px;
  width:31px;
  height:26px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:7px;
  width:26px;
  height:26px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:22px;
  height:26px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
}
.u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1E1E1E;
}
.u1019_img.selected {
}
.u1019.selected {
}
.u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:71px;
  word-wrap:break-word;
}
.u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1021 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:4px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#1E1E1E;
}
.u1021_img.selected {
}
.u1021.selected {
}
.u1022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:49px;
}
#u1017-2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:49px;
}
#u1017-3 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:49px;
}
#u1017-4 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:49px;
}
#u1017-5 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:49px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1016_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:614px;
  width:1px;
  height:1px;
}
