body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:137px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:500px;
  height:136px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-size:20px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:27px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:27px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:101px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:200px;
  width:20px;
  height:100px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:42px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
